<div class="container">
    <div class="shadow p-3 my-3 bg-white rounded">
        <h4>Buscar por c&oacute;digo del vendedor</h4>
        <form [formGroup]="buscarForm" (ngSubmit)="buscarFacturasVendedorId()">
            <div class="form-row">
                <div class="form-group col-11">
                    <input formControlName="codigo" type="text" name="codigo" id="codigo" class="form-control"
                        placeholder="Ingrese código">
                </div>
                <div class="form-group col-1">
                    <button class="btn btn-primary" [disabled]="buscarForm.invalid">Buscar</button>
                </div>
            </div>
        </form>
    </div>


</div>