<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="javascript:void(0)" routerLink="/home"><i><b>AUTOMAQ</b></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Facturas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="javascript:void(0)" routerLink="/facturas/vendedor">Por id de
                            vendedor</a>
                        <a class="dropdown-item" href="javascript:void(0)" routerLink="/facturas/vendedor/mes">Por id de
                            vendedor y mes</a>
                        <a class="dropdown-item" href="javascript:void(0)" routerLink="/facturas/vendedor/rangofecha">Rango de fecha</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Gerencia
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="javascript:void(0)" routerLink="/gerencia/aprobacion/division">Aprobacion por division</a>
                  </div>
              </li>

            </ul>
            <div class="row justify-content-end">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" routerLink="login" href="javascript:void(0)">Entrar</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" routerLink="logout" href="javascript:void(0)">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
