<div class="container-fluid">
  <div class="shadow p-3 my-3 bg-white rounded">
      <h4>Buscar venta por rango de fecha</h4>
      <form [formGroup]="buscarForm" (ngSubmit)="buscarFacturasVendedorRangoFecha()">
          <div class="form-row">
              <div class="form-group col-11">
                  <input formControlName="fechaIni" type="text" name="fechaIni" id="fechaIni" class="form-control"
                      placeholder="formato 20190101 (yyyyMMdd)">
                  <input formControlName="fechaFin" type="text" name="fechaFin" id="fechaFin" class="form-control"
                      placeholder="formato 20190101 (yyyyMMdd)">
              </div>
              <div class="form-group col-1">
                  <button class="btn btn-primary" [disabled]="buscarForm.invalid">Buscar</button>
              </div>
          </div>
      </form>
  </div>
</div>
