.container-common{
    padding-left: 0px;
    margin-top: 10px;
}
.vendedor-header-list{
  padding-top: 5px;
  padding-bottom: 5px;
  background: #80bdff;
  font-size: larger;
  font-weight: 500;
}
.divisor{
   border-top: 0px;
}
.vendedor-list {
  height:450px;
  overflow-y: scroll;
}


