
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">automoviles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">neumaticos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">agricola</a>
              </li>
          </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="container-fluid container-common" >
                <form [formGroup]="filtrarForm" >
                    <input type="search" (keyup)="obtenerVendedorFiltrado($event)"
                    class="form-control ds-input" id="search-input" placeholder="filtrar por vendedor o sucursal" >
                </form>
                <hr class="divisor"/>
                <div class="list-group vendedor-list">
                    <a href="#" class="list-group-item list-group-item-action vendedor-header-list">vendedores</a>
                    <button class="list-group-item list-group-item-action" *ngFor="let vendedor of vendedorFilter" (click)="obtenerInfoVendedor(vendedor)">
                      <div class="d-flex w-100 justify-content-between">
                          <small class="mb-1">{{vendedor.nombre}}</small>
                          <p class="pull-right">
                              <span class="badge badge-primary">{{vendedor.sucursal}}</span>
                          </p>
                      </div>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="container-fluid container-common">
                {{vendedorSeleccionado?.nombre}}<br/>
                {{vendedorSeleccionado?.sucursal}}<br/>
                <hr/>
                <div *ngFor="let factura of vendedorFacturaList">
                    Nro de factura: {{factura?.vendedor}}<br/>
                    Monto: {{factura?.monto}}
                </div>
            </div>
        </div>
    </div>
</div>
