<table>
    <thead>
        <th>Nro.factura</th>
    </thead>
    <tbody>
        <tr *ngFor="let factura of facturas">
            <td>{{factura.nroFactura}}</td>
        </tr>
    </tbody>
</table>
